.header{
    padding: 30px;
    background-color: #ccc;
    color: #fff;
}
.menu{
    background-color: #234;
    color: #fff;
}
.menu ul li{
    float: left;
    padding: 6px 7px;
}
.menu ul{
    list-style-type: none ;
}
.menu ul li:hover{
    background-color: #ccc;
    color: #000;
}
.menu::after{
    clear:both;
    display: table;
    content: "";
}