<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url  'news:save' %}" method="post">
        
        {% csrf_token %}
        <p class="title">
            {{f.title}}
        </p>
        <p class="content">
            {{f.content}}
        </p>
        <p class="time_created">
            {{f.time_created}}
        </p>
        <input type="submit" value="add">
    </form>
</body>
</html>